---
- name: Configuration Spark Master
  hosts: spark_master
  gather_facts: no
  become: yes

  tasks:
    - name: Create spark-env.sh
      template:
        src: templates/spark-env.sh.j2
        dest: /opt/spark/conf/spark-env.sh
        mode: '0755'
        owner: spark
        group: spark

    - name: Start Spark Master
      shell: sudo -u spark /opt/spark/sbin/start-master.sh
      args:
        creates: /opt/spark/logs/spark-spark-org.apache.spark.deploy.master.Master-1-spark-master.out